{% extends "teachers_base.html" %}

{% block title %}{{ teacher.name }}' details{% endblock title %}

{% block content %}
<br><br>
    <div class="card mx-auto" style="width: 30%;">
        <div class="card-body">
            {% if teacher.image %}
            <img src="{{ teacher.image.url }}" class="img-thumbnail" width="98%">
            {% endif %}
            <hr>
            <strong>Name:</strong>&emsp14;&emsp14;{{ teacher.name }} <br>
            <strong>Gender:</strong>&emsp14;&emsp14;{{ teacher.gender }}<br>
            <strong>Email:</strong>&emsp14;&emsp14;{{ teacher.email }}<br>
            <strong>Grade:</strong>&emsp14;&emsp14;{{ teacher.grade }}
        </div>
        <div class="card-footer">
            <a href="{% url 'teachers:teachers_update' teacher.id %}" class="btn btn-primary btn-sm">Update</a>
            <a href="{% url 'teachers:teachers_delete' teacher.id %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </div>
{% endblock content %}