{% extends "teachers_base.html" %}

{% block title %}Teachers list{% endblock title %}

{% block content %}
    <h1 class="p-3">Teachers data</h1>
    <hr>    
    <h3 class="p-3">Add new teacher</h3>
    <form action="." method="POST" enctype="multipart/form-data" id="teacher-creation-form" >
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Add Teacher">
    </form>
    <br>
    <hr><br>
    <table class="table table-striped" id="teachers-data">
        <thead>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Grade</th>
        </thead>
        <tbody>
            {% for teacher in teachers_list %}
            <tr>
                <td><a href="{% url 'teachers:teachers_detail' teacher.id %}">{{ teacher.name }}</a></td>
                <td>{{ teacher.gender }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.grade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}